html{
	background-color: #F1F1F1;
	margin: 0 auto;
	max-width: 600px;
	font-family: 'Roboto';
}

input{
	border-radius: 5px;
	margin: 5px;
	padding: 2px;
}

form{
	border: 1px solid black;
	margin-bottom: 15px;
	padding: 5px;
}
